@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
}
::-webkit-scrollbar {
  width: 3px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #242424; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Add rounded corners to the scrollbar thumb */
}

.border-padding {
  padding: 0.2rem;
}

.x-size {
  color: #1e1e1e;
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 767px) {
  .x-size {
    font-size: 30rem;
  }
}

/* For screens between 768px and 1023px (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .x-size {
    font-size: 50rem;
  }
}

/* For screens larger than 1024px (desktops) */
@media (min-width: 1024px) {
  .x-size {
    font-size: 70rem;
  }
}
